@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container{
    max-width: 1240px;
    width: 80vw;
    display: flex;
    height: 223px;
    position: relative;
    text-align: center;
    color: white;
    margin: auto;
}
.text-over{
    display: flex;
    flex-wrap: wrap;
    
    color: white;
    width: 100%;
    max-width: 705px;
    vertical-align: middle;
    height: 100%;
    position: absolute;
    font-size: 48px;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-over > span{
    color: white;
    margin: auto;
}

.centered{ 
    background-image: url(./../../assets/home-background.jpg);
    object-fit: cover;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    height:100%;
    margin: auto;
    border-radius: 25px;
    filter: brightness(77%);
    z-index: -3;
    
   
    
   

    font-family: Montserrat;
    font-size: clamp(0.75rem, 0.2635rem + 2.4324vw, 3rem);
    font-weight: 500;
    line-height: 315px;
    letter-spacing: 0em;
    text-align: center;

    
    
    
    
}


@media (max-width: 868px){
    .container{
        width: 98vw;
       height: 123px;
        display: block;
        
       
      

    }
    
    
    .text-over{
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
       
        font-size: 20px;
        line-height: 24px;
        margin-left: 12px;
  }
  .text-over > span{
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    line-height: 24px;
    text-align: start;
    height: 24px;
    width: 100%;
  }

  }
  @media (max-width: 375px){
    .container{
        width: 98vw;
       height: 70px;
        display: block;
        
        
       
      

    }
    .text-over > span{
        font-size: 18px;
    }
  }